<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.reactiverobot.priorities" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/red_hat_white_skull"
        android:label="@string/app_name"
        android:theme="@style/PrioritiesTheme" >
        <activity
            android:name=".activity.SetPrioritiesActivity"
            android:label="Set Priorities" >
        </activity>
        <activity
            android:name=".activity.ReadPrioritiesActivity"
            android:label="@string/app_name_long" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".broadcast.RuthlessPriorityReminder" />
    </application>

</manifest>
